
.card,
.card-chip {
  overflow: hidden;
  position: relative;
}

.card,
.card-chip-texture,
.card-texture {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

/* =======================================================
   RESPONSIVE CARD SIZE
   ======================================================= */
.card {
  background-color: var(--primary);

  background-image:
    radial-gradient(circle at 100% 0%, hsla(0,0%,100%,0.08) 29.5%, hsla(0,0%,100%,0) 30%),
    radial-gradient(circle at 100% 0%, hsla(0,0%,100%,0.08) 39.5%, hsla(0,0%,100%,0) 40%),
    radial-gradient(circle at 100% 0%, hsla(0,0%,100%,0.08) 49.5%, hsla(0,0%,100%,0) 50%);

  border-radius: 0.8em;
  box-shadow:
    0 0 0 hsl(0,0%,80%),
    0 0 0 hsl(0,0%,100%),
    -0.2rem 0 0.75rem 0 hsla(0,0%,0%,0.3);

  color: hsl(0,0%,100%);
  padding: 1rem;

  width: clamp(300px, 50vw, 300px);
  height: clamp(200px, 25vw, 240px);

  margin: 0 auto;
  transform: translate3d(0, 0, 0);
  transition: all 1.5s ease-out;
}

@media (min-width: 1024px) {
  .card {
    width: clamp(300px, 22vw, 400px);
    height: clamp(180px, 14vw, 250px);
  }
}

/* Monitores grandes */
@media (min-width: 1600px) {
  .card {
    width: 400px;
    height: 260px;
  }
}

/* =======================================================
   HOVER EFFECTS
   ======================================================= */
.card:hover {
  animation-name: rotate_500;
  animation-iteration-count: infinite;
}

.card:hover .card-chip-texture,
.card:hover .card-texture {
  animation-name: texture;
  animation-iteration-count: infinite;
}

.card:not(:hover) {
  animation: fadeOutAnimation 0.8s ease-out forwards;
}

.card:not(:hover) .card-chip-texture,
.card:not(:hover) .card-texture {
  animation: textureFadeOut 0.8s ease-out forwards;
}

/* =======================================================
   INTERNAL LAYOUT
   ======================================================= */
.card-info,
.card-chip-texture,
.card-texture {
  position: absolute;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.75rem;
  inset: 0;
  font-size: clamp(0.7rem, 1.4vw, rem);
  font-family: "DM Sans", sans-serif;
}

.card-logo {
  width: 100%;
  font-size: clamp(1.8rem, 3vw, 2.1rem);
  font-weight: 700;
  font-style: italic;
}


.card-chip {
  background-image: linear-gradient(hsl(0,0%,70%), hsl(0,0%,80%));
  border-radius: 0.3rem;
  box-shadow: inset 0 0 0 0.05rem hsla(0,0%,0%,0.5);
  width: clamp(2rem, 5vw, 3.2rem);
  height: clamp(1.6rem, 4vw, 2.6rem);
  transform: translate3d(0, 0, 0);
}

.card-chip-lines {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .card-chip {
    transform: scale(1.4);
  }

}

.card-chip-texture,
.card-texture {
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  transition: transform 0.5s ease-out;
}

.card-type {
  margin-left: auto;
  align-self: flex-end;
  font-size: clamp(1.3rem, 1.5vw, 1.4rem);
  font-weight: 600;
}

.card-number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(2.5rem, 1.5vw, 2.6rem);
}

@media (width: 768px) {
  .card-number {
    font-size: clamp(1rem, 2.5vw, 2.2rem);
  }
}

.card-digit-group {
  background: linear-gradient(hsl(0,0%,100%), hsl(0,0%,85%) 15% 55%, hsl(0,0%,70%) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Courier Prime", monospace;
  filter: drop-shadow(0 0.05rem hsla(0,0%,0%,0.3));
}

.card-exp-date {
  font-size: clamp(0.9rem, 2vw, 1.3rem);
  padding-left: 0.25rem;
}

.card-valid-thru {
  font-size: clamp(0.6rem, 1.5vw, 0.9rem);
  text-transform: uppercase;
  text-align: right;
  padding-right: 0.25rem;
  width: 50%;
}

.card-exp-date {
  width: 50%;
}


.card-name {
  font-size: clamp(1rem, 1vw, 1.6rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  width: auto;

  background: linear-gradient(hsl(0,0%,100%), hsl(0,0%,85%) 15% 55%, hsl(0,0%,70%) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* =======================================================
   Vendor circles (Mastercard)
   ======================================================= */
.card-vendor {
  position: absolute;
  right: 0.375rem;
  bottom: 0.8rem;
  width: clamp(2.4rem, 3vw, 5rem);
  height: clamp(1.4rem, 2vw, 4rem);
}

.card-vendor:before,
.card-vendor:after {
  content: "";
  position: absolute;
  top: 0;
  width: clamp(1.5rem, 2vw, 3.5rem);
  height: clamp(1.5rem, 2vw, 3.6rem);
  border-radius: 50%;
}

.card-vendor:before {
  background-color: #e71d1a;
  left: 0;
}

.card-vendor:after {
  background-color: #fa5e03;
  box-shadow: clamp(-1.5rem, -1vw, -1.05rem) 0 0 #f59d1a inset;
  right: 0;
}

.card-vendor-sr {
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
}


.card-texture {
  background-image: linear-gradient(-80deg, hsla(0,0%,100%,0.3) 25%, hsla(0,0%,100%,0) 45%);
}

/* =======================================================
   DARK MODE SUPPORT
   ======================================================= */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),10%,30%);
    --fg: hsl(var(--hue),10%,90%);
  }
}

/* =======================================================
   ANIMATIONS
   ======================================================= */

@keyframes rotate_500 {
  from, to { transform: rotateY(-10deg); }
  25%, 75% { transform: rotateY(0deg); }
  50% { transform: rotateY(10deg); }
}

@keyframes texture {
  from, to { transform: translate3d(0,0,0); }
  50% { transform: translate3d(-50%,0,0); }
}

@keyframes fadeOutAnimation {
  0% { transform: rotateY(var(--current-rotation, 0deg)); }
  100% {
    transform: rotateY(0deg);
    box-shadow:
      0 0 0 hsl(0,0%,80%),
      0 0 0 hsl(0,0%,100%),
      -0.2rem 0 0.75rem hsla(0,0%,0%,0.3);
  }
}

@keyframes textureFadeOut {
  0% { transform: translate3d(var(--current-texture-position, 0%), 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
